@page "/Albums"
@using MLocker.WebApp.Services
@using MLocker.Core.Services
@using MLocker.Core.Models
@inject IMusicService MusicService
@inject IFileParsingService FileParsingService

@if (_isDetail)
{
	<p @onclick="@BackToAll"><span class="backButton"></span> all albums</p>
	<CascadingValue Value="_currentAlbum">
		<Albums_Detail/>
	</CascadingValue>
}
else
{
	<CascadingValue Value="_albumList">
		<Albums_All OnClick="@LoadAlbum"/>
	</CascadingValue>
}

@code {
	List<Album> _albumList = new List<Album>();
	Album _currentAlbum = null;
	private bool _isDetail = false;

	protected override async Task OnInitializedAsync()
	{
		_albumList = await MusicService.GetAlbums();
	}

	protected void LoadAlbum(Album album)
	{
		_currentAlbum = album;
		_isDetail = true;
	}

	protected void BackToAll()
	{
		_isDetail = false;
		_currentAlbum = null;
	}
}