@page "/Albums"
@using MLocker.WebApp.Services
@using MLocker.Core.Services
@using MLocker.Core.Models
@inject IMusicService MusicService
@inject IFileParsingService FileParsingService
@inject ISongContextStateService SongContextStateService

@if (_isDetail)
{
	<p @onclick="@BackToAll"><span class="backButton"></span> all albums</p>
	<CascadingValue Value="_currentAlbum">
		<Albums_Detail/>
	</CascadingValue>
}
else
{
	<CascadingValue Value="_albumList">
		<Albums_All OnClick="@LoadAlbum"/>
	</CascadingValue>
}

@code {
	List<Album> _albumList = new List<Album>();
	Album _currentAlbum = null;
	private bool _isDetail = false;

	protected override async Task OnInitializedAsync()
	{
		_albumList = await MusicService.GetAlbums();
		if (SongContextStateService.IsToAlbumLoad)
		{
			var song = SongContextStateService.Song;
			var album = _albumList.SingleOrDefault(x => x.Title == song.Album && x.AlbumArtist == song.AlbumArtist);
			if (album != null)
			{
				_currentAlbum = album;
				_isDetail = true;
			}
			SongContextStateService.IsToAlbumLoad = false;
		}
	}

	protected void LoadAlbum(Album album)
	{
		_currentAlbum = album;
		_isDetail = true;
	}

	protected void BackToAll()
	{
		_isDetail = false;
		_currentAlbum = null;
	}
}