@using MLocker.Core.Models
@using MLocker.Core.Services
@using MLocker.WebApp.Services
@inject IMusicService MusicService
@inject IFileParsingService FileParsingService
@inject IPlayerService PlayerService

<h2><div id="playAlbumButton" @onclick="PlayAlbum"></div> @Album.AlbumArtist - @Album.Title</h2>

<table class="table table-hover">
	<thead>
	<tr>
		<th></th>
		<th>Song</th>
		<th></th>
		<th>Artist</th>
		<th>Album</th>
		<th>Length</th>
		<th>Plays</th>
	</tr>
	</thead>
	<tbody>
	<Virtualize Context="pair" Items="@_songList" TItem="KeyValuePair<int, Song>">
		<ListRow Song="pair" ListContext="_songList"/>
	</Virtualize>
	</tbody>
</table>

@code {
	[CascadingParameter]
	protected Album Album { get; set; }

	Dictionary<int, Song> _songList;

	protected override async Task OnInitializedAsync()
	{
		var songs = await MusicService.GetAlbum(Album);
		_songList = PlayerService.GetIndexedList(songs);
	}

	private void PlayAlbum()
	{
		PlayerService.PlaySong(_songList[0], _songList, 0);
	}
}
