@using MLocker.Core.Models
@using MLocker.WebApp.Services
@inject IMusicService MusicService
@inject IPlayerService PlayerService

<h2><span id="playAlbumButton" @onclick="PlayAlbum"></span> @Album.AlbumArtist - @Album.Title</h2>
	
<SongList SongDictionary="_songList" WillClearQueueOnPlay="true" WillQueueListOnPlay="true" ShowSearch="false" ShowTrack="true" />

@code {
	[CascadingParameter]
	protected Album Album { get; set; }

	Dictionary<int, Song> _songList;

	protected override async Task OnInitializedAsync()
	{
		var songs = await MusicService.GetAlbum(Album);
		_songList = PlayerService.GetIndexedList(songs);
	}

	private void PlayAlbum()
	{
		PlayerService.PlaySong(_songList[0], _songList, 0);
	}
}
