@page "/Albums"
@using MLocker.WebApp.Services
@using MLocker.Core.Models
@using MLocker.Core.Services
@using Microsoft.AspNetCore.WebUtilities
@inject IMusicService MusicService
@inject IFileParsingService FileParsingService

@if (_albumList != null)
{
    <table class="table">
        <tbody>
        @foreach (var item in _albumList)
        {
            <tr>
                <td>
                    @if (item.FirstSong != null)
                    {
                        <img src="@(QueryHelpers.AddQueryString("/GetImage", "fileName", FileParsingService.ParseImageFileName(item.FirstSong)))" class="songImage"/>

                    }
                </td>
                <td>@item.Title</td>
                <td>@item.AlbumArtist</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    IEnumerable<Album> _albumList = new List<Album>();

    protected override async Task OnInitializedAsync()
    {
        _albumList = await MusicService.GetAlbums();
    }
}