@using MLocker.Core.Models
@using MLocker.Core.Services
@using MLocker.WebApp.Services
@inject IMusicService MusicService
@inject IPlayerService PlayerService
@inject IPlaylistTransformer PlaylistTransformer

<div>
	<span id="playAlbumButton" @onclick="PlayAlbum" title="Play album"></span>
	<span class="playShuffleButton" @onclick="PlayShuffle" title="Shuffle album"></span>
	<div class="songTitle text-truncate"><span class="text-truncate d-block">@Album.AlbumArtist - @Album.Title</span></div>
	<SongListSummary SongList="_songList" />
</div>

<SongList Songs="_songList" WillClearQueueOnPlay="true" WillQueueListOnPlay="true" ShowSearch="false" ShowTrack="true" />

@code {
	[CascadingParameter]
	protected Album Album { get; set; }

	List<Song> _songList;

	protected override async Task OnInitializedAsync()
	{
		_songList = Album.Songs;
	}

	private void PlayAlbum()
	{
		PlayerService.PlaySong(_songList[0], _songList, 0);
	}

	private void PlayShuffle()
	{
		if (_songList.Any())
		{
			var shuffled = PlaylistTransformer.Shuffle(_songList);
			PlayerService.PlaySong(shuffled[0], shuffled, 0);
		}
	}
}
