@using MLocker.Core.Models
@using MLocker.Core.Services
@using MLocker.WebApp.Services
@using Microsoft.AspNetCore.WebUtilities
@inject IMusicService MusicService
@inject IFileParsingService FileParsingService
@inject IPlayerService PlayerService

<table class="table">
	<tbody>
		<Virtualize Context="song" Items="@_songList" TItem="Song">
			<ListRow Song="song" />
		</Virtualize>
	</tbody>
</table>

@code {
	[CascadingParameter]
	protected Album Album { get; set; }

	IList<Song> _songList = new List<Song>();

	protected override async Task OnInitializedAsync()
	{
		_songList = await MusicService.GetAlbum(Album);
	}
}
