@page "/ApiKey"
@inject IConfig Config

<p>Your API Key</p>

<input @bind-value="CurrentApiKey" @oninput="OnChange" />

@code {
    private string CurrentApiKey { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurrentApiKey = await Config.GetApiKey();
    }

    private async Task OnChange(ChangeEventArgs e)
    {
        await Config.SetApiKey(e.Value?.ToString());
    }
}