@page "/BaseApi"
@inject IConfig Config

<h1>Your base API URL (do not include trailing slash)</h1>

<input @bind-value="CurrentApiBaseUrl" @oninput="OnChange" />

@code {
    private string CurrentApiBaseUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurrentApiBaseUrl = await Config.GetBaseApiUrl();
    }

    private async Task OnChange(ChangeEventArgs e)
    {
        await Config.SetBaseApiUrl(e.Value?.ToString());
    }
}