@using MLocker.Core.Models
@using MLocker.WebApp.Services
@inject IPlayerService PlayerService

<h2><span id="playAlbumButton" @onclick="PlayPlaylist"></span> @Playlist.Title</h2>
	
<SongList SongDictionary="_songList" WillClearQueueOnPlay="true" WillQueueListOnPlay="true" ShowSearch="false" />

@code {
	[CascadingParameter]
	protected Playlist Playlist { get; set; }

	Dictionary<int, Song> _songList;

	protected override void OnInitialized()
	{
		_songList = PlayerService.GetIndexedList(Playlist.Songs);
	}

	private void PlayPlaylist()
	{
		if (Playlist.Songs.Any())
			PlayerService.PlaySong(_songList[0], _songList, 0);
	}
}