@using MLocker.Core.Models
@using MLocker.WebApp.Services
@inject IPlayerService PlayerService

<h2><div id="playAlbumButton" @onclick="PlayPlaylist"></div> @Playlist.Title</h2>

<table class="table table-hover">
	<thead>
	<tr>
		<th></th>
		<th>Song</th>
		<th></th>
		<th>Artist</th>
		<th>Album</th>
		<th>Length</th>
		<th>Plays</th>
	</tr>
	</thead>
	<tbody>
	<Virtualize Context="pair" Items="@_songList" TItem="KeyValuePair<int, Song>">
		<ListRow Song="pair" ListContext="_songList" WillRequeue="true"/>
	</Virtualize>
	</tbody>
</table>

@code {
	[CascadingParameter]
	protected Playlist Playlist { get; set; }

	Dictionary<int, Song> _songList;

	protected override void OnInitialized()
	{
		_songList = PlayerService.GetIndexedList(Playlist.Songs);
	}

	private void PlayPlaylist()
	{
		if (Playlist.Songs.Any())
			PlayerService.PlaySong(_songList[0], _songList, 0);
	}
}