@page "/Songs"
@using MLocker.WebApp.Services
@using MLocker.Core.Models
@using MLocker.Core.Services
@inject IMusicService MusicService
@inject IJSRuntime JsRuntime
@inject IFileParsingService FileParsingService
@inject IPlayerService PlayerService

@if (_songList != null)
{
    <table class="table">
        <tbody>
            <Virtualize Context="song" Items="@_songList" TItem="KeyValuePair<int, Song>">
	            <ListRow Song="song" ListContext="@null"/>
            </Virtualize>
        </tbody>
    </table>
}

@code {
    Dictionary<int, Song> _songList;

    protected override async Task OnInitializedAsync()
    {
        var songs = await MusicService.GetAllSongs();
	    _songList = PlayerService.GetIndexedList(songs);
    }
}