@page "/Songs"
@using MLocker.WebApp.Services
@using MLocker.Core.Models
@using MLocker.Core.Services
@using Microsoft.AspNetCore.WebUtilities
@inject IMusicService MusicService
@inject IJSRuntime JsRuntime
@inject IFileParsingService FileParsingService
@inject IPlayerService PlayerService

@if (_songList != null)
{
    <table class="table">
        <tbody>
            <Virtualize Context="song" Items="@_songList" TItem="Song">
	            <ListRow Song="song"/>
            </Virtualize>
        </tbody>
    </table>
}

@code {
    IList<Song> _songList = new List<Song>();

    protected override async Task OnInitializedAsync()
    {
        _songList = await MusicService.GetAllSongs();
    }
}