@page "/Songs"
@using MLocker.WebApp.Services
@using MLocker.Core.Models
@using MLocker.Core.Services
@using Microsoft.AspNetCore.WebUtilities
@inject IMusicService MusicService
@inject IJSRuntime JsRuntime
@inject IFileParsingService FileParsingService
@inject IPlayerService PlayerService

@if (_songList != null)
{
    <table class="table">
        <tbody>
        @foreach (var item in _songList)
        {
            <tr>
                <td><button @onclick="@(() => PlaySong(item))">|&gt;</button></td>
                <td>
                    @if (item.PictureMimeType != null)
                    {
                        <img src="@(QueryHelpers.AddQueryString("/GetImage", "fileName", FileParsingService.ParseImageFileName(item)))" class="songImage"/>
                    }
                </td>
                <td>@item.Title</td>
                <td>@item.Artist</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    IEnumerable<Song> _songList = new List<Song>();

    protected override async Task OnInitializedAsync()
    {
        _songList = await MusicService.GetAllSongs();
    }

    public void PlaySong(Song song)
    {
        PlayerService.PlaySong(song);
    }
}