@page "/Songs"
@using MLocker.WebApp.Services
@using MLocker.Core.Models
@using MLocker.Core.Services
@inject IMusicService MusicService
@inject IJSRuntime JsRuntime
@inject IFileParsingService FileParsingService
@inject IPlayerService PlayerService

@if (_songList != null)
{
    <table class="table table-hover">
	    <thead>
	    <tr>
		    <th></th>
		    <th>Song</th>
		    <th></th>
		    <th>Artist</th>
		    <th>Album</th>
		    <th>Length</th>
		    <th>Plays</th>
	    </tr>
	    </thead>
        <tbody>
            <Virtualize Context="song" Items="@_songList" TItem="KeyValuePair<int, Song>">
	            <ListRow Song="song" ListContext="@null" WillRequeue="true"/>
            </Virtualize>
        </tbody>
    </table>
}

@code {
    Dictionary<int, Song> _songList;

    protected override async Task OnInitializedAsync()
    {
        var songs = await MusicService.GetAllSongs();
	    _songList = PlayerService.GetIndexedList(songs);
    }
}