@using MLocker.WebApp.Services
@inject IMusicService MusicService
@inject IPlaylistService PlaylistService
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code
{
	protected override async Task OnInitializedAsync()
	{
        // warm up the app with the fresh data
		await MusicService.UpdateSongs();
	}
}
