@using Microsoft.AspNetCore.WebUtilities
@using MLocker.Core.Services
@using MLocker.Core.Models
@using MLocker.WebApp.Services
@inject IFileParsingService FileParsingService
@inject IPlayerService PlayerService

<tr>
	<td><button @onclick="@(() => PlaySong(Song))">|&gt;</button></td>
	<td>
		@if (Song.PictureMimeType != null)
		{
			<img src="@(QueryHelpers.AddQueryString("/GetImage", "fileName", FileParsingService.ParseImageFileName(Song)))" class="songImage" />
		}
	</td>
	<td>@Song.Title</td>
	<td>@Song.Artist</td>
</tr>

@code {
	[Parameter]
	public Song Song { get; set; }

	public void PlaySong(Song song)
	{
		PlayerService.PlaySong(song);
	}
}