@inherits LayoutComponentBase
<SongContextMenu />
<div id="bodyContent" class="container mt-2">
	<div style="overflow-y: auto;">
		@Body
	</div>
</div>
<div id="fixedParts" class="fixed-bottom">
	<Player />
	<MainNav />
</div>
<AuthTest />