<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
	    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		    <div class="navbar-nav">
			    <NavLink href="" class="nav-link" Match="NavLinkMatch.All">Playlists</NavLink>
			    <NavLink href="Songs" class="nav-link">Songs</NavLink>
			    <NavLink href="Albums" class="nav-link">Albums</NavLink>
			    <NavLink href="Artists" class="nav-link">Artists</NavLink>
			    <NavLink href="Upload" class="nav-link">Upload</NavLink>
		    </div>
	    </div>
	    <Spinner/>
    </div>
</nav>