@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
<SongContextMenu />
<Spinner />
<div id="bodyContent" class="flex-column justify-content-center flex-grow-1 overflow-auto pt-2">
	<div class="container">
		<a id="topper"></a>
		@Body
	</div>
</div>
<div id="fixedParts" class="flex-column justify-content-center">
	<Player />
	<MainNav />
</div>
<AuthTest />

@code
{
	protected override void OnInitialized()
	{
		NavigationManager.LocationChanged += (sender, args) =>
		{
			JsRuntime.InvokeVoidAsync("ScrollReset");
		};
	}
}
