@using MLocker.Core.Models
@using MLocker.WebApp.Services
@using System.Timers
@inject IPlayerService PlayerService

@if (_songList != null)
{
	if (ShowSearch)
	{
		<div class="input-group mb-4">
			<span class="input-group-text"><span class="searchIcon"></span></span>
			<input type="text" class="form-control" placeholder="Search songs" aria-label="Search songs" @bind-value="_searchTerm" @bind-value:event="oninput" @onkeyup="HandleKeyUp">
			<span class="input-group-text" @onclick="ClearSearch"><button type="button" class="btn-close" aria-label="Close"></button></span>
		</div>
	}

	<div class="songList mt-3">
		<div class="row font-weight-bold header py-2 flex-nowrap">
			@if (ShowTrack)
			{
				<div class="col smallCell">&#35;</div>
			}
			<div class="col songImageCell"></div>
			<div class="col">Song</div>
			<div class="col smallCell"></div>
			<div class="col songSecondaryCell d-none d-lg-block col-md-2">Artist</div>
			<div class="col songSecondaryCell d-none d-lg-block col-md-2">Album</div>
			<div class="col songLengthPlayCell d-none d-lg-block col-md-2">Length</div>
			<div class="col songLengthPlayCell d-none d-lg-block col-md-2">Plays</div>
		</div>
		<Virtualize Context="song" Items="@_songList" TItem="Song" OverscanCount="20">
			<ListRow Song="song" ListContext="@_listContext" WillClearQueueOnPlay="@WillClearQueueOnPlay" ShowTrack="@ShowTrack"/>
		</Virtualize>
	</div>
}

@code {
	[Parameter]
	public List<Song> Songs { get; set; }
	[Parameter]
	public bool WillClearQueueOnPlay { get; set; }
	[Parameter]
	public bool WillQueueListOnPlay { get; set; }
	[Parameter]
	public bool ShowSearch { get; set; }
	[Parameter]
	public bool ShowTrack { get; set; }

	private List<Song> _songList;
	private string _searchTerm = string.Empty;
	private List<Song> _listContext;
	private Timer _timer;

	protected override void OnInitialized()
	{
		_listContext = WillQueueListOnPlay ? Songs : null;
		_timer = new Timer(350) {AutoReset = false};
		_timer.Elapsed += OnTimerFinish;
	}

	protected override async Task OnParametersSetAsync()
	{
		await InvokeAsync(RecalculateList);
	}

	void HandleKeyUp(KeyboardEventArgs e)
	{
		_timer.Stop();
		_timer.Start();
	}

	private void OnTimerFinish(Object source, ElapsedEventArgs e)
	{
		RecalculateList();
	}

	private void RecalculateList()
	{
		var term = _searchTerm.Trim();
		if (string.IsNullOrEmpty(_searchTerm))
			_songList = Songs;
		else
		{
			var filteredList = Songs
				.Where(x => x.Title != null && x.Title.Contains(term, StringComparison.InvariantCultureIgnoreCase)
							|| x.Artist != null && x.Artist.Contains(term, StringComparison.InvariantCultureIgnoreCase)
							|| x.Album != null && x.Album.Contains(term, StringComparison.InvariantCultureIgnoreCase)).ToList();
			_songList = filteredList;
		}
		StateHasChanged();
	}

	private void ClearSearch()
	{
		_searchTerm = string.Empty;
		RecalculateList();
	}
}