@using MLocker.Core.Models
@using MLocker.WebApp.Services
@using System.Timers
@inject IPlayerService PlayerService

@if (_songList != null)
{
	if (ShowSearch)
	{
		<div class="input-group mb-4">
			<span class="input-group-text"><span class="searchIcon"></span></span>
			<input type="text" class="form-control" placeholder="Search songs" aria-label="Search songs" @bind-value="_searchTerm" @bind-value:event="oninput" @onkeyup="HandleKeyUp">
			<span class="input-group-text" @onclick="ClearSearch"><button type="button" class="btn-close" aria-label="Close"></button></span>
		</div>
	}

	<SongContextMenu/>

	<table class="table table-hover">
		<thead>
			<tr>
				<th></th>
				<th>Song</th>
				<th></th>
				<th>Artist</th>
				<th>Album</th>
				<th>Length</th>
				<th>Plays</th>
			</tr>
		</thead>
		<tbody>
			<Virtualize Context="song" Items="@_songList" TItem="KeyValuePair<int, Song>" OverscanCount="20">
				<ListRow Song="song" ListContext="@_listContextDictionary" WillClearQueueOnPlay="@WillClearQueueOnPlay"/>
			</Virtualize>
		</tbody>
	</table>
}

@code {
	[Parameter]
	public Dictionary<int, Song> SongDictionary { get; set; }
	[Parameter]
	public bool WillClearQueueOnPlay { get; set; }
	[Parameter]
	public bool WillQueueListOnPlay { get; set; }
	[Parameter]
	public bool ShowSearch { get; set; }

	private Dictionary<int, Song> _songList;
	private string _searchTerm = string.Empty;
	private Dictionary<int, Song> _listContextDictionary;
	private Timer _timer;

	protected override void OnInitialized()
	{
		_listContextDictionary = WillQueueListOnPlay ? SongDictionary : null;
		_timer = new Timer(350) {AutoReset = false};
		_timer.Elapsed += OnTimerFinish;
	}

	protected override async Task OnParametersSetAsync()
	{
		await InvokeAsync(RecalculateList);
	}

	void HandleKeyUp(KeyboardEventArgs e)
	{
		_timer.Stop();
		_timer.Start();
	}

	private void OnTimerFinish(Object source, ElapsedEventArgs e)
	{
		RecalculateList();
	}

	private void RecalculateList()
	{
		var term = _searchTerm.Trim();
		if (string.IsNullOrEmpty(_searchTerm))
			_songList = SongDictionary;
		else
		{
			var filteredList = SongDictionary.Select(x => x.Value)
				.Where(x => x.Title != null && x.Title.Contains(term, StringComparison.InvariantCultureIgnoreCase)
							|| x.Artist != null && x.Artist.Contains(term, StringComparison.InvariantCultureIgnoreCase)
							|| x.Album != null && x.Album.Contains(term, StringComparison.InvariantCultureIgnoreCase)).ToList();
			var dictionary = PlayerService.GetIndexedList(filteredList);
			_songList = dictionary;
		}
		StateHasChanged();
	}

	private void ClearSearch()
	{
		_searchTerm = string.Empty;
		RecalculateList();
	}
}