@using MLocker.WebApp.Services
@inject ISpinnerService SpinnerService
@implements IDisposable

@if (_isVisible)
{
	<div class="position-fixed top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center" style="z-index: 1055; background: rgba(0,0,0,0.3);">
		<div class="spinner-border text-light" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
}

@code {
	private bool _isVisible;

	protected override void OnInitialized()
	{
		_isVisible = true;
		SpinnerService.OnShow += Show;
		SpinnerService.OnHide += Hide;
	}

	public void Show()
	{
		_isVisible = true;
		InvokeAsync(StateHasChanged);
	}

	public void Hide()
	{
		_isVisible = false;
		InvokeAsync(StateHasChanged);
	}

	public void Dispose()
	{
		SpinnerService.OnShow -= Show;
		SpinnerService.OnHide -= Hide;
	}
}